*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: black;
    z-index: -1;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
.index-page-main{
    position: relative;
    width: 100%;
    height: 100dvh;
}

.category-title{
    color: white;
}
.copyright{
    opacity: .6;
}
/* .home-page styling */
.home-page{
    background:black ;
    overflow-x: hidden;
}
.search-bar-fixed{
    position: fixed;
    width: 100%;
    padding: 3rem 0 1rem;
    background-color: black;
    z-index: 2;
}
.search-input::placeholder{
   font-size: 14px;
}
.category{
    padding-top: 8rem;
}
/* .all-cate{
    display: grid;
   grid-template-columns: repeat(auto-fit, 5rem );
   justify-content: center;
   grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
   grid-template-columns: repeat(6, 4rem);
   overflow: scroll;
   gap: 1rem;
} */
 .all-cate .grid-cols{
    width: 5rem;
 }
 .all-cate{ 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* justify-content: center; */
 }
.cat-image {
    width: 80px;
    height: 120px;
    background: red;
    border-radius: 50px;
    overflow: hidden;
    margin: auto;
}
.cat-image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.all-cate::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.category-title{
    font-size: .8rem;
    font-weight: 300;
}
.banner-img{
    position: relative;
}
.banner-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-end p{
    font-size: .7rem;
    opacity: .7;
}
/* category page styling */
.category-head{
    position: fixed;
    width: 100%;
    padding: 3rem 0 1rem;
    background-color: black;
    z-index: 2;
}
.cate-product{
    padding-top: 8rem;
}
.cateproduct-image{
    height: 200px;
    overflow: hidden;
}
.cateproduct-image img{
    height: inherit;
    object-fit: cover;

}
.product-content .product-catename{
    font-size: .6rem !important;
}
.product-content .product-title{
    font-size: .8rem !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.product-number{
    font-size: 1rem;
}
/* discription page styling { */
.product-discrip{
    padding-top: 5rem;
}
.disp-product-detail{
    position: relative;
}
.discrip-img{
    position: fixed;
    width: 130px;
    height: 250px;
    right: 28%;
    overflow: hidden;
    z-index: -1;
}
.discrip-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.after-border::after{
    background: white;
    content: "";
    display: inline-block;
    height: 1px;
    width: 5rem;
    margin-left: 15px;
    position: relative;
    top: -6px;

}
dl.product-inform dt, dd{
display: inline;
float: left;
}
dt{
clear: left;
width: 100px;
font-weight: bold
}
.realted-product{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.rel-image {
    width: 80px;
    height: 130px;
    background: #2c2c2c;
    border-radius: 50px;
    overflow: hidden;
    margin: auto;
}
.rel-image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    object-fit: cover;
    object-position: center;
}




@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 800px !important;
    }
}
@media (width <1025px) {
    .discrip-img{
        position: fixed; 
        right:20%;
        z-index: -1;
    }
}
@media (width <576px) {
    .discrip-img{
        position: fixed; 
        right:0% !important;
        z-index: -1;
    }
}
@media (width <768px) {
    .discrip-img{
        position: fixed; 
        right:10%;
        z-index: -1;
    }
}

@media screen and (max-width: 667px) {
    html,body{
      height: 100%;
      width: 100%;
      overflow-x: hidden;
    }
    .lead {
        font-size: 1rem;
        font-weight: 300;
    }
}

/* search form css */
.list_search_drop {
    background: #fff;
    opacity: 0;
    max-height: 350px;
    z-index: 9 !important;
    position: absolute;
    border-radius: 0px ;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: ease .5s;
}
.showdrop{
    opacity: 1;
}
ul#product_list {
    max-height: 300px;
    overflow-y: scroll;
}
ul#product_list li{
    list-style: none;   
}
 .search-form {
    /* position: relative; */
    left: 0px;
    z-index: 1;
    /* width: 100%; */
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5sease;
    /* -moz-transition: all 0.5s ease; */
    transition: all 0.5sease;
    top: 7px;
    /* padding: 7px; */
    border-radius: 5px;
    transform: scaleY(1);
    /* box-shadow: 0px 4px 7px #0000003b; */
    padding: 0;
    border-radius: 50px;
}
