*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: black;
    z-index: -1;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
.index-page-main{
    position: relative;
    width: 100%;
    height: 100dvh;
}

.category-title{
    color: white;
}
.back-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.copyright{
    opacity: .6;
}
/* .home-page styling */
.home-page{
    background:black ;
    overflow-x: hidden;
}
.search-bar{
    position: fixed;
    width: 100%;
    padding: 3rem 0 2rem;
    background-color: black;
    z-index: 2;
}
.search-input::placeholder{
   font-size: 14px;
}
.category{
    padding-top: 8rem;
}
/* .all-cate{
    display: grid;
   grid-template-columns: repeat(auto-fit, 5rem );
   justify-content: center;
   grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
   grid-template-columns: repeat(6, 4rem);
   overflow: scroll;
   gap: 1rem;

} */
 .all-cate{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* justify-content: center; */
 }
 /* .all-cate .grid-cols{
    width: 6rem;
 } */
.cat-image {
    width: 80px;
    height: 120px;
    background: red;
    border-radius: 50px;
    overflow: hidden;
}
.cat-image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.all-cate::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.all-cate .grid-cols .category-title{
    font-size: .8rem;
    font-weight: 300;
}
.banner-img{
    position: relative;
}
.banner-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-end p{
    font-size: .7rem;
    opacity: .7;
}
/* category page styling */
.category-head{
    position: fixed;
    width: 100%;
    padding: 3rem 0 1rem;
    background-color: black;
    z-index: 2;
}
.cate-product{
    padding-top: 8rem;
}
.cateproduct-image{
    height: 200px;
    overflow: hidden;
}
.cateproduct-image img{
    height: inherit;
    object-fit: cover;

}
.product-content .product-catename{
    font-size: .6rem !important;
}
.product-content .product-title{
    font-size: .8rem !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.product-number{
    font-size: 1rem;
}
/* discription page styling { */
.product-discrip{
    padding-top: 5rem;
}
.disp-product-detail{
    position: relative;
}
.discrip-img{
    position: fixed; 
    right:28%;
    z-index: -1;
}
.after-border::after{
    background: white;
    content: "";
    display: inline-block;
    height: 1px;
    width: 5rem;
    margin-left: 15px;
    position: relative;
    top: -6px;

}
dl.product-inform dt, dd{
display: inline;
float: left;
}
dt{
clear: left;
width: 100px;
font-weight: bold
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 800px !important;
    }
}
@media (width <1025px) {
    .discrip-img{
        position: fixed; 
        right:20%;
        z-index: -1;
    }
}
@media (width <576px) {
    .discrip-img{
        position: fixed; 
        right:0% !important;
        z-index: -1;
    }
}
@media (width <768px) {
    .discrip-img{
        position: fixed; 
        right:10%;
        z-index: -1;
    }
}

@media screen and (max-width: 667px) {
    html,body{
      height: 100%;
      width: 100%;
      overflow-x: hidden;
    }
    .lead {
        font-size: 1rem;
        font-weight: 300;
    }
}